.index__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color--secondary);
}
.index__container--logo{
    width: 600px;
    height: 600px;
}
.index__container--logo #circle{
    opacity: 0;
    fill: none;
    stroke: #304056;
    stroke-width: 30;
    stroke-dasharray: 0 3268; /*3268 max permietro del circulo*/
    stroke-dashoffset: 817;
    animation: circle-animation 1s linear forwards;
}
.index__container--logo .text{
    opacity: 0;
    animation: fadein .8s linear forwards 1s;
    fill: var(--color--primary);
}
.index__menu{
    animation: menu-efect 1s forwards 1.2s;
    opacity: 0;
    width: 0px;
    padding: 0;
}
.index__menu--item:nth-child(1), .index__menu--item:nth-child(3){
    margin-left: -38px;
}
.index__menu--item{
    color: var(--color--primary);
    margin: 80px 0px;
    font-size: 25px;
    text-transform: uppercase;
    list-style: none ;
}
.index__menu--item:hover {
    text-decoration: underline !important;
    list-style: circle;
}
.index__container a{
    text-decoration: none !important;
    color: var(--color--primary) !important;
    font-weight: bolder;
}
@media(max-width: 768px){
    .index__container{
        flex-direction: column;
    }
    .index__container--logo, .index__container--logo svg{
        width: 300px;
        height: 300px;
    }
    .index__menu{
        text-align: center;
    }
    .index__menu--item{
        font-size: 20px;
        margin: 20px 0px;
    }
    .index__menu--item:nth-child(1), .index__menu--item:nth-child(3){
        margin-left: 0px;
    }
}
/* Efects */
@keyframes circle-animation {
    to{
        stroke-dasharray: 2451 817;
        opacity: 1;
    }
}
@keyframes fadein {
    to{
        opacity: 1;
    }
}
@keyframes menu-efect {
    0%{opacity: 0;}
    80%{width: 150px;}
    100%{opacity: 1; width: 150px; }
}