.index__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: background-efect forwards 1s;
    animation-delay: 2.5s;
    background-color: var(--color--secondary);
}
.index__container--logo{
    width: 600px;
    height: 600px;
}
.index__container--logo .text{
    fill: var(--color--tertiary);
    animation: text-efect 2.5s;
    opacity: 1;
}
.index__container--logo .circle{
    fill: var(--color--tertiary);
    animation: circle-efect 2.5s;
    transform-origin: center center;
}
.index__menu{
    animation: menu-efect 1s forwards;
    animation-delay: 3s;
    opacity: 0;
    width: 0px;
    padding: 0;
}
.index__menu--item:nth-child(1), .index__menu--item:nth-child(3){
    margin-left: -38px;
}
.index__menu--item{
    color: var(--color--tertiary);
    margin: 80px 0px;
    font-size: 25px;
    text-transform: uppercase;
    list-style: none ;
}
.index__menu--item:hover {
    text-decoration: underline !important;
    list-style: circle;
}
.index__container a{
    text-decoration: none !important;
    color: var(--color--tertiary) !important;
    font-weight: bolder;
}
@media(max-width: 768px){
    .index__container{
        flex-direction: column;
    }
    .index__container--logo, .index__container--logo svg{
        width: 300px;
        height: 300px;
    }
    .index__menu{
        text-align: center;
    }
    .index__menu--item{
        font-size: 20px;
        margin: 20px 0px;
    }
    .index__menu--item:nth-child(1), .index__menu--item:nth-child(3){
        margin-left: 0px;
    }
}

@keyframes circle-efect{
    0%{ fill: var(--color--primary); transform: rotate(45deg) scale(.5);}
    50%{ fill: var(--color--tertiary);}
    100%{ fill: var(--color--primary); transform: rotate(360deg) scale(1);}
}
@keyframes text-efect{
    0%{ fill: var(--color--primary); opacity: 0;}
    10%{ opacity: 0;}
    50%{ fill: var(--color--tertiary); opacity: 0;}
    75%{ opacity: 0;}
    100%{ fill: var(--color--primary); opacity: 1;}
}
@keyframes background-efect {
    0%{background-color: var(--color--secondary);}
    100%{background-color: var(--color--primary);}
}
@keyframes menu-efect {
    0%{opacity: 0;}
    80%{width: 150px;}
    100%{opacity: 1; width: 150px; }
}