  .projects{
    padding-top: 0px;
    margin-left: 12px !important;
    margin-right: 12px !important;
  }
  .project-container{
    margin-bottom: 16px;
    padding: 0 8px 0 8px !important;
    height: 250px;
    position: relative;
  }

  .project-container .project-container_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .project-container .project-container_wrapper{
    position: absolute;
    top: 0;
    left: 8px;
    height: 100%;
    width: calc(100% - 16px);
    background-color: rgba(255, 255, 255, 0.35);
    text-align: end;
    opacity: 0;
    transition: 1s all;
  }
  .project-container .project-container_wrapper h2{
    font-size: 1rem;
    margin: 0;
    position: absolute;
    bottom: 10px;
    right: 15px;
    text-transform: uppercase;
  }

  .project-container .project-container_wrapper:hover{
    opacity: 1;
  }

  /* Media queries */
@media(max-width: 768px){
  .projects {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}