@font-face {
    font-family: 'montserrat-light';
    src: url('./fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: 'montserrat-medium';
    src: url('./fonts/Montserrat-Medium.ttf');
}
:root{
    --color--primary: #304056;
    --color--primary-o: #3040569a;
    --color--secondary: #FFF;
    --color--tertiary: #D29F8C;
    --color--tertiary-o: #d29f8cc7;
}
/* General */
h1,h2,h3,h4,h5,h6 {
    font-family: 'montserrat-medium' !important;
    color: var(--color--primary);
}
body{
    font-family: 'montserrat-light' !important;
}
a{
    text-decoration: none;
}
/* Navbar */
.navbar{
    margin-left: 32px;
    margin-right: 32px;
}
.navbar-brand {
    background-color: var(--color--secondary);
    width: 150px;
    height: auto;
    padding: 0 !important;
    margin: 0 !important;
    /* transform: translateX(-12px); */
    z-index: 1050;
}
.navbar-nav{
    /* flex-direction: column !important; */
    text-align: end;
    text-transform: uppercase;
}
.navbar .navbar-toggler {
    border: none;
    padding: .3rem .3rem;
    padding-right: 0px;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler svg{
    fill: var(--color--primary);
}
.navbar div:first-child {
    padding-right: 0 !important;
}
.navbar a:hover{
    color: var(--color--tertiary) !important;
}
.navbar .nav-link.active{
    color: var(--color--tertiary) !important;
    font-weight: 900;
}
/* Contact modal */
#contactModal .modal-content{
    border-radius: 30px;
    overflow: hidden;
}
#contactModal .modal-body{
    padding: 0;
}
#contactModal .modal-body .card-image{
    background-image: url('../img/stgo-card.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#contactModal .modal-header{
    border: none;
}
#contactModal .contact__info {
    margin: 1rem 0 3rem 0;
}
#contactModal .contact__info .contact__info--item {
    margin: 1rem 0;
}
#contactModal .contact__info .address span {
    color: var(--color--tertiary);
    font-weight: bolder;
}
#contactModal .contact__info .address p {
    margin: 0;
}
#contactModal .contact__info .icons {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Media queries */
@media(max-width: 768px){
    .navbar{
        margin-right: 24px;
        margin-left: 24px;
    }
    .navbar-brand {
        width: 80px;
    }
    .navbar-nav{
        border: none;
        text-align: start;
    }
    .modal-body .card-image{
        min-height: 100px;
    }
}