@font-face {
    font-family: 'lexend-light';
    src: url('./fonts/Lexend-Light.ttf');
}
@font-face {
    font-family: 'lexend-bold';
    src: url('./fonts/Lexend-Bold.ttf');
}
:root{
    --color--primary: #304056;
    --color--primary-o: #3040569a;
    --color--secondary: #FFF;
    --color--tertiary: #D29F8C;
    --color--tertiary-o: #d29f8c25;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'lexend-bold' !important;
    color: var(--color--primary);
}
body{
    font-family: 'lexend-light' !important;
}
a{
    text-decoration: none;
}
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    top: 0px;
    position: absolute;
    width: 150px;
    height: auto;
    z-index: 10000000000000;
}
.navbar-nav{
    border-bottom: solid 3px #304056;
}
.navbar .navbar-toggler {
    border-radius: 50%;
    padding: .3rem .3rem;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar a:hover{
    color: var(--color--tertiary) !important;
}
.navbar .nav-link.active{
    color: var(--color--tertiary) !important;
    font-weight: 900;
}

@media(max-width: 768px){
    .navbar-brand {
        width: 80px;
    }
    .navbar-nav{
        border: none;
    }
}